//colors
$white: white !default;
$gray: gray !default;
$black: black !default;
$red: red !default;

$color-alabaster: #f8f9fa !default;
$color-zumthor: #edf7fd !default;
$color-concrete: #f3f3f3 !default;
$color-mystic: #e2e9eb !default;
$color-pumice: #c4c6c8 !default;
$color-cloud: #c6c4c5 !default;
$color-pink-swan: #bbb !default;
$color-nobel: #b6b6b6 !default;
$color-mountain-mist: #909090 !default;
$color-bon-jour: #dfdfdf !default;
$color-storm-dust: #636363 !default;
$color-zircon: #f3f8fe !default;
$color-star-dust: #9b9b9b !default;
$color-fuscous-gray: #525252 !default;
$color-bunker: #121212 !default;
$color-gravel: #484848 !default;
$color-silver: #bfbfbf !default;
$color-tundora: #454545 !default;
$color-firefly: #0a263c !default;
$color-gunsmoke: #858585 !default;
$color-suva-gray: #888888 !default;
$color-log-cabin: #222222 !default;
$color-bay-of-many: #204a87 !default;

$color-gold-drop: #f18200 !default;
$color-trinidad: #de5400 !default;
$color-torch-red: #fd0039 !default;
$color-guardsman-red: #d40202 !default;
$color-monza: #db0d0d !default;

$color-solitude: #e9f2fd !default;
$color-hawkes-blue: #cedef3 !default;
$color-nepal: #849ec2 !default;
$color-pigeon-post: #a7c6dd !default;
$color-jordy-blue: #93b4df !default;
$color-steel-blue: #5284c2 !default;
$color-ship-cove: #7192bf !default;

$colorpicker-swatches-background: #f8f8f8 !default;
