// The original color scheme

$white: white;
$gray: gray;
$black: black;
$red: red;

$color-alabaster: #f8f9fa;
$color-zumthor: #edf7fd;
$color-concrete: #f3f3f3;
$color-mystic: #e2e9eb;
$color-pumice: #c4c6c8;
$color-cloud: #c6c4c5;
$color-pink-swan: #bbb;
$color-nobel: #b6b6b6;
$color-mountain-mist: #909090;
$color-bon-jour: #dfdfdf;
$color-storm-dust: #636363;
$color-zircon: #f3f8fe;
$color-star-dust: #9b9b9b;
$color-fuscous-gray: #525252;
$color-bunker: #121212;
$color-gravel: #484848;
$color-silver: #bfbfbf;
$color-tundora: #454545;
$color-firefly: #0a263c;
$color-gunsmoke: #858585;
$color-suva-gray: #888888;
$color-log-cabin: #222222;
$color-bay-of-many: #204a87;

$color-gold-drop: #f18200;
$color-trinidad: #de5400;
$color-torch-red: #fd0039;
$color-guardsman-red: #d40202;
$color-monza: #db0d0d;

$color-solitude: #e9f2fd;
$color-hawkes-blue: #cedef3;
$color-nepal: #849ec2;
$color-pigeon-post: #a7c6dd;
$color-jordy-blue: #93b4df;
$color-steel-blue: #5284c2;
$color-ship-cove: #7192bf;

$colorpicker-swatches-background: #f8f8f8;
